<div class="row py-5 text-center text-white justify-content-center">
    <div class="col-12 py-5 fullbg" style="background-image: url('static/images/louisvilleskyline.jpg');">
        <h2 class="pb-4">ABOUT US</h2>
        <p><h5>
        Guiding Star Baptist Church has been a part of the Louisville community for over 103 years.</br> Through our Many
        community outreach programs we aim to affect change right here in the heart of Louisville, KY
        </p></h5>
    </div>   
</div>
<!--row start-->
<div class="row py-5 text-center justify-content-center">
    <div class="col-sm-2 px-4 py-4">
        <h4 class="bb">OUR VISION</h4>
        <p>Our vision as is to unite our community in the love of Christ, and Help as many people 
            as we can to have a personal relationship with our Lord and Savior Jesus Christ. </p>
    </div>

    <div class="col-sm-2 px-4 mx-4 py-4">
        <h4 class="bb">WHAT WE DO</h4>
        <p>Through our community outreach programs and Prison Ministry programs we strive everyday 
            to bring others to Know the Love of Christ.</p>
    </div>

    <div class="col-sm-2 px-4 py-4">
        <h4 class="bb">COME WORSHIP WITH US!</h4>
        <p>We would love for you to spend a Sunday with us in fellowship and worship. Contact us, or 
            simply drop by. You are family here.</p>
    </div>      
</div>
