<div class="row py-5 text-center text-white bg-danger justify-content-center">
    <div class="col-4">
        <h2 class="pb-4">CONTACT US</h2>
        <p class="py-5">
            If you have questions about our services, or would like to donate or volunteer, reach out to us. We are always excited
            to hear from you!
        </p>
    </div>
</div>