<div class="row py-5 text-center text-white bg-danger justify-content-center">
    <div class="col-4">
        <h2 class="pb-4">DONATE</h2>
        <p>
            We need your help. It takes alot to keep a great church family growing. If you can bless us in any of our outreach
            programs through supplies, or just a small amount of your time it would be a great benifit to us all as well as our community. 
        </p>
    </div>
</div>

<div class="row py-5 text-center justify-content-center">
    <div class="col-2 px-4">
        <div class="bg-danger">photo placeholder</div>
        <h4 class="bb">GIVE ONLINE</h4>
        <p>Donations are always welcomed and appreciated. </p>
        <a class="small" href="#">READ MORE >></a>
    </div>
    
    <div class="col-2 px-4 mx-4">
        <div class="bg-danger">photo placeholder</div>
        <h4 class="bb">BECOME A VOLUNTEER</h4>
        <p>We are always blessed by our volunteers. Whether you would like to help with
             one of our outreach programs, clothing closet, or simply help in upkeeping the church.
              We have many oppertunities for volunteers.</p>
        <a class="small" href="#">READ MORE >></a>
    </div>
    
    <div class="col-2 px-4">
        <div class="bg-danger">photo placeholder</div>
        <h4 class="bb">CLOTHING CLOSET</h4>
        <p>We are always in need of clothing/coats for our clothes closet outreach. Contact a staff member for drop off.</p>
        <a class="small" href="#">READ MORE >></a>
    </div>      
</div>
    
