<div class="row text-center text-white bg-danger justify-content-center">
    <div class="col-12 fullbg py-5" style="background-image: url('static/images/eventbackground.jpg');">
        <h2 class="pb-4">UPCOMMING EVENTS</h2>
        <p class="py-5">
            Community clothes closet is every third saturday of the month from 10am to 12 noon.
        </p>
    </div>
</div>