
<main>
 <!--row start -->   
      <div class="row py-5">
        <h1>Row 1 Carosel of images and a link to the "about" page</h1>
      </div>
<!--row start --> 
      <div class="row whitesmoke py-5">
        <h1>Row 2 Events</h1>
        <p>Three column after the title EVENT|EVENT|BIBLE VERSE OF THE WEEK</p>
      </div>
<!--row start --> 
      <div class="row text-center py-5">
        <div class="col-3 bg-secondary"></div>
        <div class="col">
          <h1>WELCOMING YOU HOME</h1>
          <p>Pastor Montomery and the Guiding Star Baptist Church Family are delighted that you decided to worship with us today. We pray that
            our Worship Service will be a Blessing to you. We realize that you are not dependent on us, we are dependent on you. You are an asset
            to our services. You are not an outsider but a part of our Christian Experience.
          </p>
        </div>
<!--row start -->      
        <div class="col-3 bg-secondary py-5"></div>
      </div>
<!--row start --> 
      <div class="row whitesmoke py-5 text-center">
        <div class="col-1 bg-secondary"></div>

        <div class="col px-5 border">
          <div>photo placeholder</div>
          <h4 class="bb">ABOUT OUR CHURCH</h4>
          <p>We are a community oriented church who through many programs affects change right here in our hometown Louisville,KY</p>
          <a class="small">READ MORE >></a>
        </div>

        <div class="col px-5 mx-3 border">
          <div>photo placeholder</div>
          <h4 class="bb">PRISON MINISTRIES</h4>
          <p>Our ministry is not confined to our church. Our prison ministry program reaches those who need it most</p>
          <a class="small">READ MORE >></a>
        </div>

        <div class="col px-5 border">
          <div>photo placeholder</div>
          <h4 class="bb">SHUT IN MINISTRY</h4>
          <p>Many in our community cannot attend retular worship due to illness etc. Our outreach program travels to them bring hope and love</p>
          <a class="small">READ MORE >></a>
        </div>

        <div class="col-1 bg-secondary"></div>
        
        <p>Three column about each has a link that goes to the "about us" page</p>
      </div>
<!--row start --> 
      <div class="row py-5 text-center text-white bg-danger">
        <div class="col-4 bg-secondary"></div>
        <div class="col-4">
          <div class="h2">HELP US TO SPREAD OUR LOVE AND FAITH</div>
          <button class="px-5 py-2 my-5 buttonbg text-white">READ MORE >></button>
        </div>
        
        <div class="col-4 bg-secondary"></div>
      </div>
   
  </main>