
<!--row start -->   
<div class="row my-4  text-center  justify-content-center" >
  <div class="col-8 py-5 bg-image shadow-1-strong rounded " style="background-image: url('static/images/group70.jpg');">
    <h3 class="pb-4 ">AN INCLUSIVE COMMUNITY FOR ALL WHO</h3>
  <h1>BELEIVE IN THE LOVE AND<br> SPIRIT OF THE CHURCH</h1>
  <div class= 'py-4'>
    <a class="buttonbg text-white px-5 py-2 my-5" href="/about">READ MORE>></a> 
  </div>
  </div> 
</div>  
<!--row start --> 
<div class="row py-5 text-center ">
  <h1 class="pb-2"> UPCOMMING EVENTS</h1>
</div>
<!--row start-->
<div class="row pb-4 text-center">
  <div class="col-sm-4 py-4">
    <h2>November 24th</h2>
      <p><strong>Sermen:</strong><br>
          Sit Walk Stand<br>
          <strong>Ephesians 6:10-20</strong></p>
  </div>

  <div class="col-sm-4 bbr bbl py-4">
    <h2>December 1st</h2>
      <p><strong>Sermen:</strong><br>
          What if GOD was like Scrooge?<br>
          <strong>Acts 20:28</strong>
      </p>        
  </div>

  <div class="col-sm-4 py-4">
    <div>
      <p class="px-5">"So do not fear, for I am with you; do not be dismayed, for I am your God. I will strengthen you and help you;
         I will uphold you with my righteous right hand."<br>
        <strong>Isaiah 41:10</strong>
      </p>
    </div>
  </div> 
</div>

<!--row start --> 
<div class="row text-center py-5 justify-content-center">
  <h1>WELCOMING YOU HOME</h1>
  <div class="col-6">
    <p>Pastor Montomery and the Guiding Star Baptist Church Family are delighted that you decided to worship with us today. We pray that
        our Worship Service will be a Blessing to you. We realize that you are not dependent on us, we are dependent on you. You are an asset
        to our services. You are not an outsider but a part of our Christian Experience.
    </p>
  </div>       
</div>

<!--row start --> 

<div class="row py-5 text-center justify-content-center">
  <div class="col-sm-2  px-4">
    <div class="bg-danger">
      <img src="static/images/suncross.jpg" width="100%" height="100%">
    </div>
    <h4 class="bb">
    ABOUT OUR CHURCH
    </h4>
    <p>We are a community oriented church who through many programs affects change right here in our hometown Louisville,KY</p>
    <a class="small" href="/about">READ MORE >></a>
  </div>

  <div class="col-sm-2  px-4 mx-4">
    <div class="bg-danger"><img src="static/images/prisonministry.jpg" width="100%" height="100%"></div>
    <h4 class="bb">
    PRISON MINISTRIES
    </h4>
    <p>Our ministry extends beyond the walls of our church. Our prison ministry program reaches those who need it most</p>
    <a class="small" href="/about">READ MORE >></a>
  </div>

  <div class="col-sm-2  px-4">
    <div class="bg-danger">
      <img src="static/images/shutin.jpg" width="100%" height="100%">
    </div>
      <h4 class="bb">
      SHUT IN MINISTRY
      </h4>
      <p>Many in our community cannot attend regular worship due to illness etc. Our outreach program travels to them bring hope and love</p>
      <a class="small" href="/about">READ MORE >></a>
  </div>  
</div>
<!-- row start-->
<div class="row text-center text-white">
  <div class="col-12 fullbg" style="background-image: url('static/images/hands5.jpg');">
    <div class="h2 pt-5">
      HELP US TO SPREAD OUR LOVE AND FAITH
    </div>
    <div class='py-5'>
      <a class="buttonbg text-white px-5 py-2 my-5" href="/donate">READ MORE>></a>
    </div>
  </div>
</div>



