<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet', href='/static/stylesheets/bootstrap.min.css'>
    <link rel='stylesheet', href='/static/stylesheets/style.css'>
    <link rel="shortcut icon" href="static/images/favicon.png">
    <title>Guiding Star Missionary Baptist Church</title>
</head>

<!--Remove -fluid if there is a resising problem-->
<div class="container-fluid whitesmoke ">
 <!--first row for logo-->
    <div class="row justify-content-left text-center pt-4">
        <div class="col-sm-2">
            <h3>Guiding Star<br>Missionary<br>Baptist Church</h3>
        </div>
    </div>
    <!--navigation row-->    
    <div class="row justify-content-center text-center whitesmoke">
        <div class="col-sm-1">
            <a href="/" class="h6">HOME</a>
        </div>
        <div class="col-sm-1">
            <a href="/about" class="h6">ABOUT US</a>
        </div>
        <div class="col-sm-1">
            <a href="/services" class="h6">SERVICES</a>
        </div>
        <div class="col-sm-1">
            <a href="/donate" class="h6">DONATE</a>
        </div>
        <div class="col-sm-1">
            <a href="/events" class="h6">EVENTS</a>
        </div>
        <div class="col-sm-1">
            <a href="/contact" class="h6">CONTACT</a>
        </div>   
    </div>

    
    <body>
        <%- body %>
    </body>

    <div class="row text-white bg-slate">
        <div class="col-4 py-4 text-center">
            <h4>Sunday Services</h4>
                <p>Sunday School Starts at 9:30AM<br>
                   Morning Worship starts at 10:45am</p>
        </div>
        <div class="col-4 py-4 br bl text-center">
            <h4>Address</h4>
                <p>
                     2724 W. Muhammad Ali Blvd.<br>
                    Louisville, Kentucky 40212<br><br>

                    Church Office:   (502)772-0805<br>
                    Fax:  (502)709-4297
                </p>        
        </div>

        <div class="col-4 py-4">
            <h4 class="text-center">SUBSCRIBE FOR EMAILS</h4>
                <form class="text-center pt-4">
                    <div>
                        <input type="email"placeholder="Enter email" class="bg-slate text-white">
                    </div>
                    <button class="subbutton  px-5 py-2 my-3">Subscribe Now</button>
                </form>
                <div>
                    <a class="mx-2" href='https://www.facebook.com/GSMBCLOU'><img src='static/images/facebook-logo-black-and-white.png'width="40" height="40" alt='facebook'/></a>
                    <a href='https://www.youtube.com/channel/UCceQEBkUIM5zR-kbWROwOyg'><img src='static/images/lgyt.png'width="40" height="40" alt='youtube'/></a> 
                </div>
        </div> 
        
        
    
    </div>
</div>



